p{
    position: relative;
    left: 18px;
    top: 12px;
    color: slategray;
}
option{
    font-size: 15px;
}

td,th {
    text-align: center; /* Выравниваем текст по центру ячейки */
}

tr[word-color="primary"] {
    background-color: #c6dbf3;
}

tr[word-color="secondary"] {
    background-color: #5df8dc;
}

tr[word-color="success"] {
    background-color: #caffd0;
}

tr[word-color="danger"] {
    background-color: #ffbdc6;
}

tr[word-color="warning"] {
    background-color: #f8ffce;
}

tr[word-color="info"] {
    background-color: #d1fffc;
}

tr[word-color="dark"] {
    background-color: #cdd0db;
}

tr[word-color="light"] {
    background-color: #f8fff9;
}

tr[values="true"]{
    box-shadow: inset 0 0 14px 3px white;
    background-color: white;
    /*border: white;*/
}

.table td{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #a5bbc7;
}

.table-form{
    margin: auto;
}

.header-form{
    margin: 3px;

}
.button-icon-style{
    color: white;
    background: transparent;
    border: none;
}
#button-type-submit-filter{
    background: slategray;
    border: slategray;
    height: 38px;
    position: relative;
    left: 17px;
}
#button-type-submit-find{
    background: slategray;
    border: slategray;
    height: 38px;
    position: relative;
    left: 17px;
}
#button-type-submit{
    background: slategray;
    border: slategray;
}
.button-icon-style{
    color: white;
    background: transparent;
    border: none;
}
#button-type-submit-filterLevel{
    background: slategray;
    border: slategray;
    height: 38px;
    position: relative;
    left: 17px;
}

#button-type-submit-filterTopic{
    background: slategray;
    border: slategray;
    height: 38px;
    position: relative;
    left: 17px;
}

#button-type-submit-find{
    background: slategray;
    border: slategray;
    height: 38px;
    position: relative;
    left: 17px;
}

#button-type-submit-getAll{
    background: slategray;
    border: slategray;
    height: 38px;
    position: relative;
    left: 17px;
}

#button-type-submit{
    background: slategray;
    border: slategray;
}

#st-clear
{
    position: absolute;
    bottom: 30px;
    right: 400px;
}

#st-sort
{
    position: absolute;
    left: 15px;
}

.login {
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 250px;
}


/*border: ridge;